[user]
	name = Robin Wenglewski
	email = robin@wenglewski.de

[core]
	ignorecase = false
	editor = atom --wait
	excludesfile = ~/.gitignore_global

[diff]
   tool = intellij
[difftool "intellij"]
   cmd = idea diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")

[merge]
   tool = intellij
[mergetool "intellij"]
   cmd = idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
   trustExitCode = true

[alias]
  up = !git fetch -p && git rebase
  ci = commit
  co = checkout
  st = !open -a SourceTree .
  myhist = !git log --author="$(git config user.name)" --format=%H |xargs git show --name-only --format=-------------%n%Cred%s%Creset%n%Cblue%h%Creset
  staged = diff --cached
  unstaged = diff
  both = diff HEAD
  oneline = log --oneline
  undo = reset --hard HEAD^
  tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
  oldest-ancestor = !zsh -c 'diff --old-line-format= --new-line-format= <(git rev-list --first-parent \"${1:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | head -1' -

[push]
	default = simple

[github]
	user = rweng
